html, body {
    height : 100%;
    width  : 100%;
    overflow-x: hidden;
}
#cart-panel {
    z-index:99;
    left: 600px;
    position:absolute;
    height : calc(100% - 200px);
    width  : 600px;
    margin-top: 200px;
    margin-left:calc(100% - 600px);
    background-color: #444444;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    overflow-y: scroll;
}

.cart-table{
    border-collapse: collapse;
    width: 100%;
}

.cart-table, td, th{
    padding: 40px;
    text-align: left;
    border-bottom: 2px solid white;
    margin: 40px 30px 40px 30px;
}

.wrapper{
    text-align: center;
}

.cart-wrapper{
    display: inline-block;
    text-align: left;
}