div.wrap {
    width:100%;
    margin:0 auto;
}

div.main {
    width:100%;
    background-image: linear-gradient(white, whitesmoke, whitesmoke, lightblue, lightskyblue);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.image{
    height: 200px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #eff1f2;
    text-decoration: none;
}

.active {
    background-color: #cef1ff;
    text-decoration: none;
    color: black;
}

.day{
    padding: 0px 500px 0px 10px;
}

th, td {
    border-bottom: 1px solid #dddddd;
}

.welcomeimg{
    text-align:center;
    border: 5px;
    border-color: lightblue;


}