<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UberSante</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="container">
    <div id="cart-panel" th:fragment="cart">
        <link rel="stylesheet" type="text/css" href="/fragments/cart_css.css" th:href="@{/fragments/cart_css.css}"/>
        <div class="wrapper">
            <h2>Cart</h2>
            <div class="cart-wrapper">
                <table class="cart-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start-Time</th>
                        <th>End-Time</th>
                        <th>Type</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr th:each="appointment : ${appointments}">
                        <td th:text="${{appointment.stringDate}}"></td>
                        <td th:text="${appointment.startTime}"></td>
                        <td th:text="${appointment.endTime}"></td>
                        <td th:text="${appointment.appointmentType}"></td>
                        <td>
                            <a th:if="${appointment.appointmentId} == 0" th:href="@{/persistAppointment
                            (id=${appointment.uuid})}"><button>Save</button></a>
                            <a th:if="${appointment.appointmentId} != 0" th:href="@{/checkout
                            (id=${appointment.appointmentId})}"><button>checkout</button></a>
                        </td>
                        <td>
                            <a th:if="${appointment.appointmentId} == 0"
                               th:href="@{/updateNonPersistedAppointment(id=${appointment.uuid})}"><button>Update</button></a>
                            <a th:if="${appointment.appointmentId} != 0"
                               th:href="@{/updatePersistedAppointment(id=${appointment.appointmentId})}"><button>Update</button></a>
                        </td>
                        <td>
                            <a th:href="@{/removeAppointment(id=${appointment.appointmentId})}"><button>Remove</button></a>
                        </td>
                    </tr>
                </table>
            </div>
            <br/>
        </div>
    </div>
</div>
</body>
</html>