<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UberSante</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

   <!-- <link id="active_style" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css" /> -->


</head>
<body>


<div class="navigation-bar-default" th:if="!${user}"><!--// if user doesn't exists then go inside the div, else skip-->
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">UberSante</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Location <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Westmount</a></li>
                        <li><a href="#">Mont-Royal</a></li>
                        <li><a href="#">Outremont</a></li>
                    </ul>
                </li>
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="navigation-bar" th:if="${user}"> <!--// if user exists then go inside the div, else skip-->
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">UberSante</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li th:if="${user} != null"><a href="/showBookings">Bookings</a></li>
                <li th:if="${user.userType} == 'doctor'"><a th:with="baseUrl=('/schedule/'+${user.userId})"
                                                                th:href="@{${baseUrl}}">Schedule Manager</a></li>
                <li th:if="${user.userType} == 'nurse'"><a href="/addBooking">Appointments</a></li>
                <li th:if="${user.userType} == 'patient'"><a href="/appointment_page">Appointments</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li th:if="${user.userType} == 'patient'"><a id="cartToggle">Cart</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Location <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Westmount</a></li>
                        <li><a href="#">Mont-Royal</a></li>
                        <li><a href="#">Outremont</a></li>
                    </ul>
                </li>
                <a style="float:left;" th:if="${notification} == 1" href="/notifications"><img src="/images/notification_alert.png" width="40" height="40"/></a>
                <a style="float:left;" th:if="${notification} == 0" href="/notifications"><img src="/images/notification_closed.png" width="45" height="45"/></a>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </ul>
        </div>
    </nav>
</div>


<script>
    $(document).ready( function() {
        $('.dropdown-toggle').dropdown();
    });
</script>
</body>
</html>