<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../home_css.css"/>
    <meta charset="UTF-8"/>
    <title>About Us</title>
</head>
<body>

<body>

<div th:if="${user.userType} == 'patient'" th:replace="fragments/cart::cart"></div> <!-- cart-->
<div class="wrap">
    <div class="header">

        <div class ="image"><img src="https://bonjour-sante.ca/uno/dist/images/8fc999dfe2bfdae49d12e32e303b77a6.jpg" height="200" /></div>
    </div>

    <!--  th:if="${user}" will add once backend is established-->
    <div class="navigation-bar" th:if="${user}"> <!-- if user exists then go inside the div, else skip -->
        <ul>

            <li><a class="active" href="#home">Home</a></li>
            <div th:if="${user}">
                <li th:if="${user.userType} == 'doctor'"><a th:with="baseUrl=('/schedule/'+${user.userId})"
                                                            th:href="@{${baseUrl}}">Schedule Manager</a></li>


            </div>
            <div th:if="${user.userType} == 'patient'">
                <!-- th:if="${user.userType} == 'patient'"> will add once backend is established -->
                <li><a href="/booking">Bookings</a></li>
            </div>
            <div th:if="${user.userType} == 'patient'">
                <!-- th:if="${user.userType} == 'patient'"> will add once backend is established -->
                <li><a href="/appointment_page">Appointments</a></li>
            </div>

            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li th:if="${user.userType} == 'patient'"><a id="cartToggle">Cart</a></li>

        </ul>
    </div>

    <div class="navigation-bar-default" th:if="!${user}"> <!-- if user doesn't exists then go inside this div -->
        <ul>

            <li><a class="active" href="/home">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>

        </ul>
    </div>


    <div class="main">


        <div class="navigation-bar" th:if="${user}"> <!--// if user exists then go inside the div, else skip-->

            <div th:if="${user.userType} == 'patient'">
                <h3 th:text=" 'Welcome ' +  ${user.firstName}+' '+${user.lastName}">Hi, Name Space Last</h3>
            </div>
            <div th:if="${user.userType} == 'doctor'">
                <h3 th:text=" 'Welcome back Doctor ' + ${user.lastName}">Hi, User</h3>
            </div>
            <div th:if="${user.userType} == 'nurse'">
                <h3 th:text=" 'Welcome back Nurse ' + ${user.lastName}">Hi, User</h3>
            </div>
        </div>
        <div th:unless="${user}">
            <h3>About Us</h3>
        </div>

        <div>
            <p class="parag">

                we are global nonprofit academic medical centre that has provided world class patient care to people from around the world since 1921. As the Canadian location of the Cleveland Clinic, our services help patients live healthier, more active lives. Our two locations, in downtown and midtown Toronto, offer innovative clinical services that are rooted in evidence and are delivered in a high quality and convenient healthcare environment. Whether you need a head-to-toe medical assessment, have a family history of cardiovascular disease or want to address your low back pain, we can help. Our patients benefit from the expertise of dozens of Canadian physicians, specialists and wellness experts, as well as over 3,500 physicians and specialists across the Cleveland Clinic network. That’s peace of mind you just can’t find anywhere else.

                Located in the heart of the financial district, our downtown location offers services to help people age well, move better and know their healthcare options. Our midtown location, in the Yonge and Eglinton area, specializes in services that help our patients move better.

            <h3> Patients Are Our Top Priority</h3>

                “Patients First” is the guiding principle of Cleveland Clinic. We strive to provide outstanding and compassionate care and service, every step along the way.

                Putting patients first requires more than world-class clinical care – it requires care that addresses every aspect of a patient’s encounter with Cleveland Clinic, including the patient’s physical comfort, as well as their educational, emotional, and spiritual needs.

                Formalizing our commitment to this important work, Cleveland Clinic was the first major academic medical centre’s in North America to make patient experience a strategic goal, the first to appoint a Chief Experience Officer, and one of the first academic medical centers to establish an Office of Patient Experience. Led by Adrienne Boissy, MD, the Office of Patient Experience’s mission is to ensure consistently patient-centered care by partnering with caregivers to exceed the expectations of patients and families.
            </p>

        </div>

        <div class="welcomeimg"><img src="https://www.mybancroftnow.com/wp-content/uploads/2015/08/doctor-health-wellness.jpg" height="500" /> </div>

        <p>
        <h2>
            We are always available for you!
        </h2>
        </p>

        <div>
            <!-- Cart Slider -->
            <script>
                $('#cartToggle').on('click', function(){
                    var $this = $('#cart-panel');
                    if ($this.hasClass('open')) {
                        $this.animate({
                            left : '800px'
                        }, 150).removeClass('open');
                    } else {
                        $this.animate({
                            left : '17px'
                        }, 150).addClass('open');
                    }
                });
            </script>
        </div>

    </div>

</div>

</body>

</body>
</html>