<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="appointment_css.css"/>

    <link rel="stylesheet" type="text/css" href="../home_css.css"/>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:if="${user.userType} == 'patient'" th:replace="fragments/cart::cart"></div> <!-- cart-->
<div class="wrap">
    <div class="header">

        <div class ="image"><img src="https://bonjour-sante.ca/uno/dist/images/8fc999dfe2bfdae49d12e32e303b77a6.jpg" height="200" /></div>
    </div>

    <!--  th:if="${user}" will add once backend is established-->
    <div class="navigation-bar" th:if="${user}"> <!-- if user exists then go inside the div, else skip -->
        <ul>

            <li><a class="active" href="/home">Home</a></li>
            <div th:if="${user}">
                <li th:if="${user.userType} == 'doctor'"><a th:with="baseUrl=('/schedule/'+${user.userId})"
                                                            th:href="@{${baseUrl}}">Schedule Manager</a></li>


            </div>
            <div th:if="${user.userType} == 'patient'">
                <!-- th:if="${user.userType} == 'patient'"> will add once backend is established -->
                <li><a href="/booking">Bookings</a></li>
            </div>
            <div th:if="${user.userType} == 'patient'">
                <!-- th:if="${user.userType} == 'patient'"> will add once backend is established -->
                <li><a href="/appointment_page">Appointments</a></li>
            </div>

            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li th:if="${user.userType} == 'patient'"><a id="cartToggle">Cart</a></li>

        </ul>
    </div>

    <div class="navigation-bar-default" th:if="!${user}"> <!-- if user doesn't exists then go inside this div -->
        <ul>

            <li><a class="active" href="/home">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>

        </ul>
    </div>


    <div class="main">


        <div class="navigation-bar" th:if="${user}"> <!--// if user exists then go inside the div, else skip-->

            <div th:if="${user.userType} == 'patient'">
                <h3 th:text=" 'Welcome ' +  ${user.firstName}+' '+${user.lastName}">Hi, Name Space Last</h3>
            </div>
            <div th:if="${user.userType} == 'doctor'">
                <h3 th:text=" 'Welcome back Doctor ' + ${user.lastName}">Hi, User</h3>
            </div>
            <div th:if="${user.userType} == 'nurse'">
                <h3 th:text=" 'Welcome back Nurse ' + ${user.lastName}">Hi, User</h3>
            </div>
        </div>
        <div th:unless="${user}">
            <h3>Welcome to UberSante</h3>
        </div>

        <div>
            <h1 align="center">Add an appointment</h1>

            <table align="center">
                <form method="post" id="appointment" action="/add_to_cart">
                    <tr>
                        <td align="right">
                            <label><b>Appointment Type:</b></label>
                        </td>
                        <td align="left">
                            <select name="appointment_type" class="appointment_type">
                                <option value="walk-in">Walk-In</option>
                                <option value="annual">Annual</option>n>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label><b>Date:</b></label>
                        </td>
                        <td align="left">
                            <input type="date" name="date" id="date" required="true"/>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">
                            <label><b>Time:</b></label>
                        </td>
                        <td align="left">
                            <input id="time" name="time" type="time"  min="8:00" max="19:40" required="true" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label><b>Description:</b></label>
                        </td>
                        <td align="left">
                <textarea name="description" form="appointment" rows="4" cols="50" placeholder="Describe the reason behind your visit ...">

                </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <button id="add_to_cart" name="add_to_cart" type="submit" value="add_to_cart">Add to Cart</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <button th:if="${user.userType} == 'nurse'" id="add_patient" name="add_patient" value="add_patient">Add Patient</button>
                        </td>
                        <td align="left">
                            <button th:if="${user.userType} == 'nurse'" id="add_doctor" name="add_doctor" value="add_doctor">Add Doctor</button>
                        </td>
                    </tr>
                </form>
            </table>

        </div>




        <div>
            <!-- Cart Slider -->
            <script>
                $('#cartToggle').on('click', function(){
                    var $this = $('#cart-panel');
                    if ($this.hasClass('open')) {
                        $this.animate({
                            left : '800px'
                        }, 150).removeClass('open');
                    } else {
                        $this.animate({
                            left : '17px'
                        }, 150).addClass('open');
                    }
                });
            </script>
        </div>
    </div>
</div>

</body>
</html>