<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointments</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../fragments/footer.css"/>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:if="${user.userType} == 'patient'" th:replace="fragments/cart::cart"></div> <!-- cart-->
<div class="wrap">
    <div class="header">

        <div class ="image"><img src="https://bonjour-sante.ca/uno/dist/images/8fc999dfe2bfdae49d12e32e303b77a6.jpg" height="200" /></div>
    </div>

    <div th:replace="fragments/navbar"> </div>

    <div class="main">


        <div class="navigation-bar" th:if="${user}"> <!--// if user exists then go inside the div, else skip-->

            <div th:if="${user.userType} == 'patient'">
                <h3 th:text=" 'Welcome ' +  ${user.firstName}+' '+${user.lastName}">Hi, Name Space Last</h3>
            </div>
            <div th:if="${user.userType} == 'doctor'">
                <h3 th:text=" 'Welcome back Doctor ' + ${user.lastName}">Hi, User</h3>
            </div>
            <div th:if="${user.userType} == 'nurse'">
                <h3 th:text=" 'Welcome back Nurse ' + ${user.lastName}">Hi, User</h3>
            </div>
        </div>
        <div th:unless="${user}">
            <h3>Welcome to UberSante</h3>
        </div>

        <div>
            <h1 align="center">Add an appointment</h1>

            <table align="center">
                <form method="post" id="appointment" action="/add_to_cart">
                    <tr>
                        <td align="right">
                            <label><b>Appointment Type:</b></label>
                        </td>
                        <td align="left">
                            <select name="appointment_type" class="appointment_type">
                                <option value="walk-in">Walk-In</option>
                                <option value="annual">Annual</option>n>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label><b>Date:</b></label>
                        </td>
                        <td align="left">
                            <input type="date" name="date" id="date" required="true"/>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">
                            <label><b>Time:</b></label>
                        </td>
                        <td align="left">
                            <input id="time" name="time" type="time"  min="8:00" max="19:40" required="true" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label><b>Description:</b></label>
                        </td>
                        <td align="left">
                <textarea name="description" form="appointment" rows="4" cols="50" placeholder="Describe the reason behind your visit ...">

                </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <button th:if="${user.userType} == 'patient'" id="add_to_cart" name="add_to_cart" type="submit" value="add_to_cart">Add to Cart</button>
                            <button th:if="${user.userType} == 'doctor'" id="follow_up" name="follow_up" type="submit" value="follow_up">Follow-up</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <button th:if="${user.userType} == 'nurse'" id="add_patient" name="add_patient" value="add_patient">Add Patient</button>
                        </td>
                        <td align="left">
                            <button th:if="${user.userType} == 'nurse'" id="add_doctor" name="add_doctor" value="add_doctor">Add Doctor</button>
                        </td>
                    </tr>
                </form>
            </table>

        </div>


        <footer th:replace="fragments/footer::footer"> </footer>

        <div>
            <!-- Cart Slider -->
            <script>
                $('#cartToggle').on('click', function(){
                    var $this = $('#cart-panel');
                    if ($this.hasClass('open')) {
                        $this.animate({
                            left : '800px'
                        }, 150).removeClass('open');
                    } else {
                        $this.animate({
                            left : '17px'
                        }, 150).addClass('open');
                    }
                });
            </script>
        </div>
    </div>
</div>

</body>
</html>