<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="appointment_css.css"/>
</head>
<body>
<br/>
<br/>

<h1 align="center">Add an booking</h1>

<table align="center">
    <form method="post" id="booking">
        <tr>
            <td align="right">
                <label><b>Appointment Type:</b></label>
            </td>
            <td align="left">
                <select name="appointment_type" class="appointment_type">
                    <option value="walk-in">Walk-In</option>
                    <option value="annual">Annual</option>n>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label><b>Date:</b></label>
            </td>
            <td align="left">
                <input type="date" name="date" id="date" required="true"/>
            </td>
        </tr>

        <tr>
            <td align="right">
                <label><b>Time:</b></label>
            </td>
            <td align="left">
                <input id="time" name="time" type="time"  min="8:00" max="19:40" required="true" />
            </td>
        </tr>
        <tr>
            <td align="right">
                <label><b>Description:</b></label>
            </td>
            <td align="left">
                <textarea name="description" form="booking" rows="4" cols="50" placeholder="Describe the reason behind your visit ...">

                </textarea>
            </td>
        </tr>
        <tr>
            <td align="right">
                <button id="add_to_cart" name="add_to_cart" type="submit" value="add_to_cart">Add to Cart</button>
            </td>
        </tr>
    </form>
</table>

</body>
</html>