<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="appointment_css.css"/>
</head>
<body>
<br/>
<br/>

<h1 align="center">Your Bookings</h1>

<table>
    <!-- Cart.html -->
    <head>
        <title>UberSante</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div class="container">
        <div id="cart-panel" th:fragment="cart">
            <link rel="stylesheet" type="text/css" href="/fragments/cart_css.css" th:href="@{/fragments/cart_css.css}"/>
            <div class="wrapper">
                <h2>Cart</h2>
                <div class="cart-wrapper">
                    <table class="cart-table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Start-Time</th>
                            <th>End-Time</th>
                            <th>Type</th>
                            <th>Doctor</th>
                            <th>Room</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <td th:each="booking : ${bookings}">
                            <td th:text="${booking.date}"></td>
                            <td th:text="${booking.startTime}"></td>
                            <td th:text="${booking.endTime}"></td>
                            <td th:text="${booking.bookingType}"></td>
                            <td th:text="${booking.doctor}"></td>
                            <td th:text="${booking.room}"></td>

                            <td>
                                <a th:if="${user.UserType} == 'nurse'"
                                   th:href="@{/updateBooking(id=${booking.bookingId})}"><button>Update</button></a>
                            </td>
                            <td>
                                <a th:if="${user.UserType} == 'nurse'"
                                   th:href="@{/removeBooking(id=${booking.bookingId})}"><button>Remove</button></a>
                            </td>

                             <td>
                                 <a th:if="${user.UserType} == 'doctor'"
                                    th:href="@{/followupBooking(id=${booking.bookingId})}"><button>Follow Up</button></a>
                             </td>
                        </tr>
                    </table>
                </div>
                <br/>
            </div>
        </div>
    </div>
    </body>
</table>

</body>
</html>