<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../fragments/footer.css"/>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:if="${user.userType} == 'patient'" th:replace="fragments/cart::cart"></div> <!-- cart-->
<div class="wrap">
    <div class="header">

        <div class ="image"><img src="https://bonjour-sante.ca/uno/dist/images/8fc999dfe2bfdae49d12e32e303b77a6.jpg" height="200" /></div>
    </div>

    <div th:replace="fragments/navbar"> </div>


    <div class="main">


        <div class="navigation-bar" th:if="${user}"> <!--// if user exists then go inside the div, else skip-->

            <div th:if="${user.userType} == 'patient'">
                <h3 th:text=" 'Welcome ' +  ${user.firstName}+' '+${user.lastName}">Hi, Name Space Last</h3>
            </div>
            <div th:if="${user.userType} == 'doctor'">
                <h3 th:text=" 'Welcome back Doctor ' + ${user.lastName}">Hi, User</h3>
            </div>
            <div th:if="${user.userType} == 'nurse'">
                <h3 th:text=" 'Welcome back Nurse ' + ${user.lastName}">Hi, User</h3>
            </div>
        </div>
        <div th:unless="${user}">
            <h3>Welcome to UberSante</h3>
        </div>

        <h1 align="center">Your Bookings</h1>

        <table>
            <!-- Cart.html -->
            <head>
                <title>UberSante</title>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            </head>
            <body>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <div class="container">
                <div>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Start-Time</th>
                                <th>End-Time</th>
                                <th>Type</th>
                                <th th:if="${user.userType} == 'doctor'">Patient</th>
                                <th th:if="${user.userType} == 'patient'">Doctor</th>
                                <th>Room</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr th:each="booking : ${bookings}">

                                <td th:text="${booking.getPatient().firstName}+' '+${booking.getPatient().lastName}">Name Space Last</td>
                                <td th:text="${booking.appointment.stringDate}"></td>
                                <td th:text="${booking.appointment.startTime}"></td>
                                <td th:text="${booking.appointment.endTime}"></td>
                                <td th:text="${booking.appointment.appointmentType}"></td>
                                <td th:if="${user.userType} == 'patient'"><span>Dr. </span><span th:text="${booking.doctor.firstName}"></span>
                                    <span> </span><span th:text="${booking.doctor.lastName}"></span></td>
                                <td th:if="${user.userType} == 'doctor'"><span th:text="${booking.patient.firstName}"></span>
                                    <span> </span><span th:text="${booking.patient.lastName}"></span></td>
                                <td th:text="${booking.room}"></td>

                                <td>
                                    <a th:if="${user.UserType} == 'nurse'"
                                       th:href="@{/updateBookingPage(id=${booking.bookingId})}"><button>Update</button></a>
                                </td>
                                <td>
                                    <a th:if="${user.UserType} == 'nurse'"
                                       th:href="@{/removeBooking(id=${booking.bookingId})}"><button>Remove</button></a>
                                </td>

                                <td>
                                    <a th:if="${user.UserType} == 'doctor'"
                                       th:href="@{/followUp(id=${booking.patient.userId})}"><button>Follow Up</button></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                        <br/>
                    </div>
                </div>
            </body>
        </table>


        <footer th:replace="fragments/footer::footer"> </footer>


        <div>
            <!-- Cart Slider -->
            <script>
                $('#cartToggle').on('click', function(){
                    var $this = $('#cart-panel');
                    if ($this.hasClass('open')) {
                        $this.animate({
                            left : '800px'
                        }, 150).removeClass('open');
                    } else {
                        $this.animate({
                            left : '17px'
                        }, 150).addClass('open');
                    }
                });
            </script>
        </div>
    </div>
</div>


</body>
</html>