<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../fragments/footer.css"/>
    <meta charset="UTF-8"/>
    <title>Checkout</title>
</head>
<body>

<div th:if="${user.userType} == 'patient'" th:replace="fragments/cart::cart"></div> <!-- cart-->
<div class="wrap">
    <div class="header">

        <div th:replace="fragments/header"></div>
    </div>

    <div th:replace="fragments/navbar"> </div>


    <div class="main">


        <div class="container" th:if="${user}"> <!--// if user exists then go inside the div, else skip-->

            <div th:if="${user.userType} == 'patient'">
                <h3 th:text=" 'Welcome ' +  ${user.firstName}+' '+${user.lastName}">Hi, Name Space Last</h3>
            </div>
            <div th:if="${user.userType} == 'doctor'">
                <h3 th:text=" 'Welcome back Doctor ' + ${user.lastName}">Hi, User</h3>
            </div>
            <div th:if="${user.userType} == 'nurse'">
                <h3 th:text=" 'Welcome back Nurse ' + ${user.lastName}">Hi, User</h3>
            </div>
        </div>
        <div th:unless="${user}">

            <div class="container">
                <h3>Checkout Below</h3>
            </div>

        </div>

        <div class ="container">
            <span th:if="${booking} != null">Follow checkout procedure with payment and receipt.</span>
            <table class="cart-table" th:if="${booking} != null">
                <thead>
                <tr>
                    <th>Patient </th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Start-Time</th>
                    <th>End-Time</th>
                    <th>Type</th>
                    <th>Room</th>
                    <th>Health Card Number</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tr th:object="${booking}">
                    <td th:text="${booking.patient.lastName}"></td>
                    <td th:text="${booking.doctor.lastName}"></td>
                    <td th:text="${booking.appointment.stringDate}"></td>
                    <td th:text="${booking.appointment.startTime}"></td>
                    <td th:text="${booking.appointment.endTime}"></td>
                    <td th:text="${booking.appointment.appointmentType}"></td>
                    <td th:text="${booking.room}"></td>
                    <td th:text="${booking.patient.healthCardNumber}"></td>
                    <td th:text="${booking.patient.email}"></td>
                    <td>
                        <a th:if="${payment} == null" href="/payment"><button>Payment</button></a>
                    </td>
                </tr>
            </table>
            <div th:if="${booking} == null">
    <span style="color:red;" th:if="${isDoctorAvailable} == false">
        The following appointment is not available as there are no doctors available in this time slot. Please remove your appointment from cart.
    </span>
                <span style="color:red;" th:if="${isRoomsFull} == true">
        The following appointment is not available as there are no available rooms in this time slot. Please remove your appointment from cart.
    </span>
            </div>
            <table th:if="${payment} != null" class="cart-table">
                <thead>
                <tr>
                    <th>Credit Card Number</th>
                    <th>Expiration Date</th>
                    <th>CVC</th>
                </tr>
                </thead>
                <tr th:object="${payment}">
                    <td th:text="${payment.number}"></td>
                    <td><span th:text="${payment.month}"></span><span>/</span><span th:text="${payment.year}"></span></td>
                    <td th:text="XXX"></td>
                    <td>
                        <a href="/confirm"><button>Confirm</button></a>
                    </td>
                </tr>
            </table>
            <a href="/"><button>Cancel</button></a>

        </div>

        <footer th:replace="fragments/footer::footer"> </footer>

        <div>
            <!-- Cart Slider -->
            <script>
                $('#cartToggle').on('click', function(){
                    var $this = $('#cart-panel');
                    if ($this.hasClass('open')) {
                        $this.animate({
                            left : '800px'
                        }, 150).removeClass('open');
                    } else {
                        $this.animate({
                            left : '17px'
                        }, 150).addClass('open');
                    }
                });
            </script>
        </div>

            </div>
        </div>

    </body>
</html>