<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Checkout</title>
</head>
<body>
<span th:if="${booking} != null">Follow checkout procedure with payment and receipt.</span>
<table class="cart-table" th:if="${booking} != null">
    <thead>
    <tr>
        <th>Patient </th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Start-Time</th>
        <th>End-Time</th>
        <th>Type</th>
        <th>Room</th>
        <th>Health Card Number</th>
        <th>Email</th>
    </tr>
    </thead>
    <tr th:object="${booking}">
        <td th:text="${booking.patient.lastName}"></td>
        <td th:text="${booking.doctor.lastName}"></td>
        <td th:text="${booking.appointment.date}"></td>
        <td th:text="${booking.appointment.startTime}"></td>
        <td th:text="${booking.appointment.endTime}"></td>
        <td th:text="${booking.appointment.appointmentType}"></td>
        <td th:text="${booking.room}"></td>
        <td th:text="${booking.patient.healthCardNumber}"></td>
        <td th:text="${booking.patient.email}"></td>
        <td>
            <a th:if="${payment} == null" href="/payment"><button>Payment</button></a>
        </td>
    </tr>
</table>
<div th:if="${booking} == null">
    <span th:if="${isDoctorAvailable} == false">
        The following appointment is not available as there are no doctors available in this time slot.
    </span>
    <span th:if="${isRoomsFull} == true">
        The following appointment is not available as there are no available rooms in this time slot.
    </span>
</div>
<table th:if="${payment} != null" class="cart-table">
    <thead>
    <tr>
        <th>Credit Card Number</th>
        <th>Expiration Date</th>
        <th>CVC</th>
    </tr>
    </thead>
    <tr th:object="${payment}">
        <td th:text="${payment.number}"></td>
        <td><span th:text="${payment.month}"></span><span>/</span><span th:text="${payment.year}"></span></td>
        <td th:text="XXX"></td>
        <td>
            <a href="/confirm"><button>Confirm</button></a>
        </td>
    </tr>
</table>
<a href="/"><button>Cancel</button></a>
</body>
</html>