<!DOCTYPE html>
<html lang="en">

<h1>Payment</h1>

<body>
<form id="checkform" method="post" >
    <div class="container">
        <h2>Payment</h2>
        <p>Please fill in the following form to pay for your appointment.</p>

        <b>Credit Card Number</b>
        <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" name="number" required="true"/>

        <b>Expiration Date</b>
        <input type="text" placeholder="MM" name="month" required="true"/>
        /
        <input type="text" placeholder="YY" name="year" required="true"/>
        <b>CVC</b>
        <input type="text" placeholder="XXX" name="email" required="true"/>

        <div>
            <button type="submit" class="register-btn">Confirm</button>
        </div>
    </div>
</form>
</body>
</html>