<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<h1>Payment</h1>

<body>
<form action="#" th:action="@{/payment}" th:object="${payment}" method="post" >
    <div class="container">
        <p>Please fill in the following form to pay for your appointment.</p>

        <b>Credit Card Number</b>
        <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" th:field="*{number}" id="number" required="true"/>

        <b>Expiration Date</b>
        <input type="text" placeholder="MM" th:field="*{month}" id="month" required="true"/>
        /
        <input type="text" placeholder="YY" th:field="*{year}" id="year" required="true"/>
        <b>CVC</b>
        <input type="text" placeholder="XXX" th:field="*{cvc}" id="cvc" required="true"/>

        <div>
            <button type="submit" class="confirm-btn" onsubmit="return validate()">Confirm</button>
        </div>
    </div>
</form>
</body>
</html>