<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../fragments/footer.css"/>
    <meta charset="UTF-8"/>
    <title>Payment</title>
</head>

<body>

<div th:if="${user.userType} == 'patient'" th:replace="fragments/cart::cart"></div> <!-- cart-->
<div class="wrap">
    <div class="header">

        <div th:replace="fragments/header"></div>
    </div>

    <div th:replace="fragments/navbar"> </div>


    <div class="main">


        <div class="container" th:if="${user}"> <!--// if user exists then go inside the div, else skip-->

            <div th:if="${user.userType} == 'patient'">
                <h3 th:text=" 'Welcome ' +  ${user.firstName}+' '+${user.lastName}">Hi, Name Space Last</h3>
            </div>
            <div th:if="${user.userType} == 'doctor'">
                <h3 th:text=" 'Welcome back Doctor ' + ${user.lastName}">Hi, User</h3>
            </div>
            <div th:if="${user.userType} == 'nurse'">
                <h3 th:text=" 'Welcome back Nurse ' + ${user.lastName}">Hi, User</h3>
            </div>
        </div>
        <div th:unless="${user}">
            <div class="container">
                Payment Below
            </div>
        </div>

        <div class ="container">

            <form action="#" th:action="@{/payment}" th:object="${payment}" method="post" >
                <div class="container">
                    <p>Please fill in the following form to pay for your appointment.</p>

                    <b>Credit Card Number</b>
                    <input type="text" placeholder="XXXX XXXX XXXX XXXX" th:field="*{number}" id="number" required="true"/>

                    <b>Expiration Date</b>
                    <input type="text" placeholder="MM" th:field="*{month}" id="month" required="true"/>
                    /
                    <input type="text" placeholder="YY" th:field="*{year}" id="year" required="true"/>
                    <b>CVC</b>
                    <input type="text" placeholder="XXX" th:field="*{cvc}" id="cvc" required="true"/>

                    <div>
                        <button type="submit" class="confirm-btn" onsubmit="return validate()">Confirm</button>
                    </div>
                </div>
            </form>

        </div>

        <footer th:replace="fragments/footer::footer"> </footer>

        <div>
            <!-- Cart Slider -->
            <script>
                $('#cartToggle').on('click', function(){
                    var $this = $('#cart-panel');
                    if ($this.hasClass('open')) {
                        $this.animate({
                            left : '800px'
                        }, 150).removeClass('open');
                    } else {
                        $this.animate({
                            left : '17px'
                        }, 150).addClass('open');
                    }
                });
            </script>
        </div>

    </div>
</div>

</body>
</html>